@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*global styles  */
html, body {
  overflow-x: hidden;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

/* body {

/* Nav section  */
.topleft {
  background-color: #1d428a;
  height: 10px;
}

.topright {
  background-color: #fcc915;
  height: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1d428a;
  background-color: rgba(17,17,17, .2);
}

.navbar-default .navbar-nav > li > a {
  color: #fcc915;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #1d428a;
  background-color: rgba(17,17,17, .2);
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

nav.navbar {
  position: absolute;
  top: 10;
  right:10;
  left: 25;
  z-index: 20;
}
.brandname {
  font-size: 40px;
  color: #1d428a !important;
  font-family: 'Titan one', cursive;
}

/* jumbotron */

/* Section  */
.service {
  height: 800px;
}
.info{
  background-color: #fcc915;
  padding:20px 20px;
}

.portfolio {
  padding-top: 150px;
  color: #1d428a;
  font-family: 'Permanent Marker', cursive;
}

img {
  max-height: 150px;
  max-width: 150px;
}

.intro {
  padding: 0;
  margin: 0;
  color: #fff;
}

/* footer */
footer {
  background-color: #fcc915;
  height: 100px;
}

.fab {
    padding: 10px 45px 10px 10px;
    font-size:3em !important;
    width:28px;
    height:28px;
}

.fa-facebook {
    color:#3b5998;
}

.fa-twitter {
    color:#00aced;
}

.fa-instagram {
    color: #E4405F;
}

.fa-linkedin {
    color:#007bb6;
}

.fa-github {
    color:#000000;
}

.fine_print {
  padding-top: 20px;
}
